<header>
  <div class="section">
    <div class="new"></div>
  </div>
  <div class="iparys_inherited">
    <div class="global-header-components iparsys parsys">
      <div class="navigation section">

        <!-- Template to get the icons from a svg image -->

        <div class="header-navigation" data-action="headerNavigation" id="efa47ac2aa82a5cb8ecca4d1ab9b0bb8ba6cbcbf"
          data-analytics-id="efa47ac2aa82a5cb8ecca4d1ab9b0bb8ba6cbcbf" data-analytics-title-text="Navigation">
          <div class="header-navigation__inner">
            <a class="header-navigation__skip" href="#content"
              aria-label="To make this website accessible to screen reader, Press combination of alt and 1 keys. To stop getting this message, press the combination of alt and 2 keys">Skip
              to content</a>
            <div class="header-navigation__overlay"></div>
            <div class="header-navigation__bar">


              <div class="header-navigation__bottom-content">



                <a class="header-navigation__logo three" href="https://www.t-mobile.com/business"
                  data-analytics-name="Home" onclick="trackNavigationEvents('tNav', this,'Home')"
                  aria-label="To make this website accessible to screen reader, Press combination of alt and 1 keys. To stop getting this message, press the combination of alt and 2 keys">
                  <img src="https://www.t-mobile.com/conf/tfb/common/svg/TFB-logo-W.svg" alt="T-Mobile for Business">
                </a>

                <ul class="header-navigation__nav-buttons">

                  <li><button class="cta header-navigation__nav-button" (click)="microAppLoader($event)" data-type="microapp" data-app="payment-app">Angular Application</button>
                  </li>
                  <li><button class="cta header-navigation__nav-button" (click)="microAppLoader($event)" data-type="page" data-app="customer-profile">Customer Profile</button>
                  </li>
                  <li><button class="cta header-navigation__nav-button" (click)="microAppLoader($event)" data-type="microapp" data-app="react-app">React Application</button>
                  </li>
                  <li><button class="cta header-navigation__nav-button" (click)="microAppLoader($event)" data-type="iframe" data-app="coverage-map">Generic Application</button>
                  </li>

                </ul>

                <div class="header-navigation__tools">

                  <div class="header-navigation__divider"></div>
                  <div class="header-navigation__ctas">
                    <a class="cta cta--primary" href="#"
                      data-modal-path="/content/tfb/en/model-repository/lead-generation-form-master.html"
                      data-open-modal="tfb-open-modal"
                      onclick="trackNavigationEvents('tNav', this); trackGenericClick(this, 'Get Started', 'get-start-form')"
                      aria-label="">User Name</a>

                    <a href="https://account.t-mobile.com/" class="cta" onclick="trackNavigationEvents('tNav', this)"
                      target="_self"
                      aria-label="To make this website accessible to screen reader, Press combination of alt and 1 keys. To stop getting this message, press the combination of alt and 2 keys">
                      Cart </a>
                    <img
                      data-savepage-src="https://s3.amazonaws.com/ssp-studio-cde-2dc/DC1/tmobile-whitelabel/v202004170349/img/carticon.png"
                      style="width: 20px;
                                          height: 20px;
                                          display: block;
                                          margin-top: 11px;
                                          margin-right: 20px;"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAAAAXNSR0IArs4c6QAAAU9JREFUOBGlVD1OAmEQBWMkJh7BzkPYU4G18QTcwBNQWXoCD2Biywm4AA2NhTGrFha0xkj8ee/bmY/3kcmyspMs8+bNm7fD8rG9X0TPos9sxNcBiz4C6Z24DrSPKGF7yLYOuShLnwrGrAsuHE/3Vpnfh9tdaiNhkBUB8ig3UcxxNYaKHxuU5yocBMJPcMcU6ebDPLUBA8CPTQmEyWc6KllwbCKmKohw+CQD4cx3XARNpe7ckQPf2lHMnyY5Iv+g8aZNwWfEfmviNT+24gEmu8+MDh1K8crnJHWGeUdjKLog6YH6hZz160Q3RKVkTRlnhacVwImK98YwGrtrh7wsFoDRVQezeWHmBQwne5je+3yYYXjzD9Pb0MRJGF2b2QJZT6BLGnP6E6gCJjwrp8q1wTxrbXTdNdgwvVLsaxcHWN3b6tKLFeLKrrGaKEZ/FOn+ALpGFuQ0XCEqAAAAAElFTkSuQmCC">


                    <a class="cta" (click)="logout()">
                      Log out </a>
                    <img class="lf_navicon"
                      data-savepage-src="https://s3.amazonaws.com/ssp-studio-cde-2dc/DC1/tmobile-whitelabel/v202004170349/img/logoutwhiteicon.svg"
                      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTS0zLTNoMjR2MjRILTN6Ii8+CiAgICAgICAgPHBhdGggZmlsbD0iI2Y4ZjhmOCIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNNy4wOSAxMi41OUw4LjUgMTRsNS01LTUtNS0xLjQxIDEuNDFMOS42NyA4SDB2Mmg5LjY3bC0yLjU4IDIuNTl6TTE2IDBIMmEyIDIgMCAwIDAtMiAydjRoMlYyaDE0djE0SDJ2LTRIMHY0YTIgMiAwIDAgMCAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWMmMwLTEuMS0uOS0yLTItMnoiLz4KICAgIDwvZz4KPC9zdmc+Cg==">

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
